@mixin button {
    height: 40px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.Button {
    @include button;

    &:not(:last-child) {
        margin-right: 5px;
    }

    &--shoppingCart {
        background-color: var(--rewe-green);
    }

    &--link {
        background-color: var(--rewe-blue);
    }

    &--reset {
        background-color: var(--rewe-red);
    }
}
