.LinkButtonTooltip {
    background-color: #4c4c4c;
    width: 250px;
    min-height: 100px;
    position: absolute;
    bottom: 52px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;

    &__searches {
        color: white;
        margin-bottom: 10px;
        font-size: 1.125rem;
        line-height: 1.11;
    }

    &__add {
        display: flex;
    }

    &__inputText {
        color: black;
        height: 40px;
        border: 0;
        border-radius: 2px 0 0 2px;
        outline: none !important;
    }

    &__inputButton {
        color: white;
        background-color: var(--rewe-red);
        height: 40px;
        width: 40px;
        border-radius: 0 2px 2px 0;
        border: none;

        &:disabled {
            background-color: var(--base-gray);
        }
    }

    &::after {
        border: 10px solid transparent;
        border-top-color: #4c4c4c;
        bottom: -20px;
        content: "";
        height: 0;
        margin-right: -11px;
        position: absolute;
        width: 0;
        left: 10px;
    }
}
