.MainUi {
    &__productItemList {
        padding: 0 10px;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10px 10px 10px;
    }
}
