.ProductItem {
    list-style: none;
    background-color: white;
    border-radius: 2px;
    color: #000;
    border: none;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2px;

    cursor: pointer;

    &__name {
        color: #4c4c4c;
        font-size: 1.125rem;
        line-height: 1.11;
        flex-grow: 1;

        &--disabled {
            text-decoration: line-through;
        }
    }

    &__id {
        color: var(--rewe-blue);
        width: 70px;

        &--unmatched {
            color: var(--rewe-red);
        }
    }

    &__quantity {
        color: var(--rewe-green);
        margin-right: 5px;
    }

    &__unit {
        color: var(--rewe-green);
        margin-right: 1em;
        width: 25px;

        &::after {
            content: " ";
        }
    }
}