.PopupContainer {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(74, 74, 74, 10%);
    border-radius: 4px;
    color: #fff;
    backdrop-filter: blur(12px);
}
